li.next-guess{
    position: sticky;
    bottom: 0rem;

    span{
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        font-size: 2rem;

        &.clear-guess{
            left: -3rem;
        }
        &.sos{
            right: -3rem;
        }
    }
    div{
        background: #555;
        font-size: min(5vw, 2.5rem);
    }  
}

@media (max-width:500px) { 
    li.next-guess span{
        &.clear-guess{
            left: -2.5rem;
        }
        &.sos{
            right: -2.5rem;
        }
    }
}