<div class="wait-container">
    <button mat-button [mat-dialog-close] (click)='stopFireworks()'>✖</button>
    <div>
        Adirdle{{wordLength}} already solved🥳
    </div>
    <div class="stats">
        <div>
            <strong>{{solvedWord | uppercase}}</strong>
        </div>
        <small>found in {{attemptToSolveWord}} attempts!</small> 
        <span>{{reaction}}</span>

<!--         <div>Average of guesses: <strong>{{averageGuessesPerWord}}</strong></div>
        <div>Games played: <strong>{{gamesCount}}</strong></div> -->
    </div>
    
    <div>
        Next word in:
        <div class="time-to-next-word">
            {{timeToNextWord}} <span>⌛</span>
        </div>
    </div>
</div>