header{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    width: 100vw;;
    z-index: 0;
            
    button{
        background: transparent;
        border: none;            
        cursor: pointer;
        padding-right: .5rem;
        height: 4rem;
        font-size: 2rem;
    }
    img{
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: middle;
    }
    .left-btns{
        display: flex;
        margin-left: .5rem;
        .reset-keyboard-position{
            vertical-align: bottom;
        }
        .random{
            font-size: 1.7rem;
        }
        .dark-mode-btn img{
            content:url('/assets/icons/dark-mode-black.svg');
            &.dark{
                content:url('/assets/icons/dark-mode-white.svg');
            }
        }
        
    }
    
    a{
        align-self: center;
        margin: 0;
        padding: 0.5rem;
        font-size: 4rem;
        font-weight: bold;
        color: var(--app-title-color);
        text-decoration: none;
    }
    .right-btns{
        .toggle-word-count-wrapper img{
            content:url('/assets/icons/number-6.png');
            &.word6{
                content:url('/assets/icons/number-5.png');
            }
        }
        
    }
}
.dark-mode-on{
    header button img{
        &.dark-mode-btn{
            content:url('/assets/icons/dark-mode-white.svg');
        }

    }
}

@media (max-width:500px) { 
    header{
        margin-top: 1rem;
        a{
            font-size: 1.5rem;
        }
    }
}