<header> 
    <div class="left-btns">
        <button (click)='toggleDarkMode()' class="dark-mode-btn">
            <img [ngClass]="{'dark': darkMode}" title="Switch to light mode">
        </button>
        <button [disabled]="!enableControls" (click)="randomWord()" class="random"> 🎲 </button>    
        <button *ngIf="!didPlayerWin" (click)="resetKeyboardPosition()" class="reset-keyboard-position">
            ⌨️
        </button>    
    </div>
    <!-- <a [href]="enableControls ? '/?mode=5' : 'javascript:void(0)'">Adirdle</a> -->
    <div class="image-wrapper"></div>

    <div class="right-btns">
        <button [disabled]="!enableControls" (click)="switchGameMode()" class="toggle-word-count-wrapper">
            <img [ngClass]="{'word6': wordLength === 6}" title="Switch to 5 word puzzle">
        </button>
        
        <button [disabled]="!enableControls || recordsOpen" (click)="openRecords()" class="records">
            <img src="../../assets/icons/chart.png">
        </button>
    </div>
    
    
</header>